pandas
numpy
matplotlib
plotly
scipy
networkx
cufflinks
seaborn
selenium
chart_studio

jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
nbconvert==6.4.2
jupyter-client==7.1.2